# Adding files to ignore
*.log
*.log.*
./venv
./venv/*

.vscode/*
.vscode

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

.idea
.idea/*

utility/_pycache_
utility/_pycache_/*

logs_yarn.py